#Executables
*.out
./Platformer
./platformer
./Tetris
./tetris
*.exe

#Storage Files
*.dat

#MSVS Files
*.vcxproj
Platformer/Debug/
Platformer/Release/
*.idp
*.pbp
*.obj
*.Build.CppClean
*.log
*.obj
*.log
*.tlog
Tetris/Tetris_Project/Tetris_Project/Debug/Tetris_Project.tlog/CL.command.1.tlog
*.tlog
*.lastbuildstate
Tetris/Tetris_Project/Tetris_Project/Debug/vc140.idb
*.filters
Tetris/Tetris_Project/Debug/Tetris_Project.pdb
*.db
