#Executables
*.out
./Platformer
./platformer
./Tetris
./tetris
*.exe

#Storage Files
*.dat

#MSVS Files
*.vcxproj
Platformer/Debug/
Platformer/Release/
*.idp
*.pbp
*.obj
*.Build.CppClean
*.log
*.obj
*.log
*.tlog
*.lastbuildstate
*.filters
*.db
*.idb
Tetris/Tetris_Project/Tetris_Project/Debug/vc140.pdb
*.pdb
