#Executables
*.out
./Platformer
./platformer
./Tetris
./tetris
*.exe

#Storage Files
*.dat

#MSVS Files
*.idp
*.pbp
*.obj
*.Build.CppClean
*.log
*.obj
*.log
*.tlog
*.lastbuildstate
*.db
*.idb
*.pdb
*.dll
